<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vuecrashcourse</title>
    <style>
        h1{color:rgb(241, 46, 88);}
        
    </style>
</head>
<body>
    <h1>Welcome to Vue js crashCourse:)</h1>
    <div id="app">
        <div v-if="showlanguages">
            <h2>{{ title }}</h2>
            <ul>
                <li v-for="item in languages">
                    <h3>{{ item.language }}</h3>
                    <p>{{ item.reason }}</p>
                </li>
            </ul>
        </div>
        <button @click="toogleButton">
            <span v-if="showlanguages">Hide Languages</span>
            <span v-else>Show Languages</span>
        </button>
        </div>
    <script src="app.js"></script>
</body>
</html>